<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>biomedcalib</display-name>
    
    <!-- Enable the filters for Hibernate -->
    <filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>
	<!-- END hibernate filters -->
	
	<filter>
        <filter-name>wicket.biomedcalib</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationFactoryClassName</param-name>
            <param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
        </init-param>
        <!--
        <init-param> 
            <param-name>configuration</param-name> 
            <param-value>deployment</param-value> 
		</init-param>
		--> 
    </filter>

	<!-- Enable the filters for Hibernate -->
    <filter-mapping>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>
	<!-- END hibernate filters -->

	<filter-mapping>
  		<filter-name>wicket.biomedcalib</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>measuresAggregateLineChart</servlet-name>
		<servlet-class>net.cassiolandim.biomedcalib.chart.MeasuresAggregateLineChartServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>measuresAggregateLineChart</servlet-name>
		<url-pattern>/app/measuresAggregateLine.chart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>measuresAggregateHistogramChart</servlet-name>
		<servlet-class>net.cassiolandim.biomedcalib.chart.MeasuresAggregateHistogramChartServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>measuresAggregateHistogramChart</servlet-name>
		<url-pattern>/app/measuresAggregateHistogram.chart</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
